<ion-header>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card >
    <ion-card-title text-center>
      <button ion-button clear color="dark" icon-right
              (click)="alertDescription('Perfil', 'Aqui você encontrará as informações de seu perfil! Mude seu apelido e seu ícone de jogador.')">
        <p>Perfil</p>
        <ion-icon name="information-circle"></ion-icon>
      </button>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <img src="{{iconi}}" class="imagi">
            <button ion-button clear color="dark" icon-right
                    (click)="onIconPressed()">
            <ion-icon name="create"></ion-icon>
            </button>
            <br>
            <button ion-button clear color="dark" icon-right class="buttonEditNickname" style= "text-transform: none;"
                    (click)="onNicknamePressed()">
              <p class="descriptionRanking">Jogador: {{userNickname}}</p>
              <ion-icon name="create"></ion-icon>
            </button>
            <p class="descriptionRanking">Time: {{team}}</p>
          </ion-col>
            <ion-col col-6 class="nivi">
              <div class="encher"></div>
              <button ion-button clear color="dark" icon-right style= "text-transform: none;"
                      (click)="alertDescription('Nível', 'Número de Gols - Nível:
                      <br> <br> 0 a 400 - Pelada na Rua
                      <br> <br> 400 a 900 - Campeonato da Cidade
                      <br> <br> 900 a 1500 - Campeonato Estadual
                      <br> <br> 1500 a 2200 - Campeonato Brasileiro
                      <br> <br> 2200 a 3200 - Libertadores
                      <br> <br> 3200 a 3900 - Liga Europa
                      <br> <br> 3900 a 4500 - Liga dos Campeões
                      <br> <br> 4500 a 5000 - Copa das Confederações
                      <br> <br> 5000 a 5400 - Olimpíadas
                      <br> <br> + 5400 - Copa do Mundo ')">
              <p>{{ranking?.quantity}} Gols</p>
              <ion-icon name="information-circle"></ion-icon>
              </button>
              <p>{{userLevel}}</p>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-title>
  </ion-card>


  <ion-card >
    <ion-card-title text-center>
      <button ion-button clear color="dark" icon-right
      (click)="alertDescription(ranking?.title,ranking?.description)">
        <p>{{ranking?.title}}</p>
        <ion-icon name="information-circle"></ion-icon>
      </button>

      <ion-grid>
        <ion-row >
          <!-- <ion-col col-8>
            <p class="descriptionRanking">Você esta acima de {{positionRanking}}% dos jogadores</p>
          </ion-col> -->

          <ion-col col-6>
            <p class="descriptionRanking">Você está acima de {{positionRanking}}% dos jogadores</p>
          </ion-col>

          <ion-col col-6>
            <p class="descriptionRanking">Seu time está acima de {{teamRanking}}% dos times</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
              <div class="image-container">
                <img class="imgRanking"src="assets/images/rankingGamification/ballRankingEmpty.jpg"/>
                <img class="imgRanking" src="assets/images/rankingGamification/ballRanking.jpg"[ngStyle]="getStyleImgRanking()" />
              </div>
          </ion-col>

          <ion-col col-6>
              <div class="image-container">
                <div >
                  <img class="imgRanking" src="assets/images/rankingGamification/ballRankingEmpty.jpg" />
                  <img class="imgRanking" src="assets/images/rankingGamification/ballRanking.jpg" [ngStyle]="getStyleImgRankingTeam()"/>
                </div>
              </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-title>
  </ion-card>


  <ion-card >
    <ion-card-title text-center>
      <button ion-button clear color="dark" icon-right
      (click)="alertDescription('Carreira','Os emblemas representam o estado
      da sua carreira')">
        <p>Carreira</p>
        <ion-icon name="information-circle"></ion-icon>
      </button>
        <ion-grid>
          <ion-row >
            <ion-col col-4 *ngFor="let ribbon of ribbonsCareers"
                    (click)="alertDescription(ribbon?.title,ribbon?.description)">
              <p class="titleRibbons">{{ribbon?.title}}</p>
              <img
                  src="assets/images/ribbonsCareerGamification/ribbon{{ribbon?.id}}.svg"
                  [class.grayscale]="!ribbon?.isActive"
                  class="imgRibbon"/>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-title>
  </ion-card>


  <ion-card >
    <ion-card-title text-center>
      <button ion-button clear color="dark" icon-right
      (click)="alertDescription('Artilharia','Estas são as quantidades de dias/semanas que você respondeu consecutivamente')"
      >
        <p>Artilharia</p>
        <ion-icon name="information-circle"></ion-icon>
      </button>
      <ion-grid>
        <ion-row >
          <ion-col col-6 *ngFor="let ribbon of ribbonsTopScore"
                  (click)="alertDescription(ribbon?.title,ribbon?.description)">
          <p class="titleRibbons">{{ribbon?.title}}</p>
            <img
                src="assets/images/ribbonsTopScoreGamification/ribbon{{ribbon?.id}}.svg"
                [class.grayscale]="!ribbon?.isActive"
                class="imgRibbon"/><span class="textOverImgArtilharia">{{ribbon?.quantity}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-title>
  </ion-card>


  <ion-card >
    <ion-card-title text-center>
      <button ion-button clear color="dark" icon-right
      (click)="alertDescription('Campeonato','Responda por 365 dias para ser o campeão do campeonato e receber o troféu')">
        <p>Campeonato</p>
        <ion-icon name="information-circle"></ion-icon>
      </button>
      <ion-grid [ngStyle]="{'height': heightTrophys + 'px'}">
        <ion-row >
          <ion-col col-12 >
            <p>Quantidade de dias respondidos: {{daysCurrent}}</p>
            <img  class="imgTrofhys" (load)="onLoad($event.target)"
                src="assets/images/trofhysGamification/trofhyEmpty.jpg"/>
            <img
            src="assets/images/trofhysGamification/trofhy.jpg"
            [ngStyle]="getStyleImgTrophy()"
            class="imgTrofhys"/>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-title>
  </ion-card>


</ion-content>
