page-gamification {
  .imagi{
    position: static;
    margin: auto;
    width: 100px;
  }

  .nivi{
    .encher {
      height: 68%;
    }
    p {
      top: 0;
    }
  }


  p {
    font-size: 1em;
  }

  .grayscale {
    -webkit-filter: grayscale(1);
  }

  .numberRanking {
    font-size: 36px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%) translateY(-120%);
  }

  .logo {
    background: url(assets/images/ribbonsCareerGamification/cake.svg) no-repeat top left;
    background-size: contain;
    width: 80px;
    height: 35px;
    margin: 20px auto 0 auto;
  }

  .textOverImgArtilharia {
    position: absolute;
    top: 75%;
    left: 30%;
    font-size: 35px;
    width: 100%;
  }

  .imgRibbon {
    position: relative;
    left: 0;
    top: 0;
  }

  .imgRanking {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90px;
    height: 90px;

    }
.image-container {
        min-height: 90px;
    }

  .imgTrofhys {
    position: absolute;
    margin-left: -5px;
  }

  .titleRibbons {
    text-align: auto;
  }
}
