page-questions {
  .icon {
    width: 36px;
    height: auto;
  }

  .grayscale {
    -webkit-filter: grayscale(1);
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  // .loadMore {
  //   text-indent:
  //   height:500px;
  //   background-color: red;
  //   bottom: 500px;
  //   text-align: center;
  // }

  .loadMore{
    left: 0;
    right:0;
    line-height: 50px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    text-align: center;
    .butao{
      background-color: #B4B0B0;
    }
  }
}
